{
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "71",
          "firefox": "64"
        }
      }
    ],
    "@babel/preset-react"
  ]
}